<div class="col-md-6 col-md-offset-3">  
  <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="field">
          <%= f.text_field :name, placeholder:"*Enter Your Name", required: "true", autofocus: true, class:"form-control" %>
      </div>
     <div class="field">
       <%= f.text_area :description, placeholder:"Give us a bio of yourself, or company and describe your reasons for using Bid My Event (if applicatble)", autofocus: true, class:"form-control" %>
      </div>
   
      <div class="field">
        <%= f.email_field :email, placeholder:"*Enter Your Email Address", required: "true", autofocus: true, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.password_field :password, placeholder:"*Enter Your Password", autocomplete: "off", required: "true", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation,placeholder:"*Re-Enter Your Password", autocomplete: "off" , required: "true", class:"form-control"%>
      </div>
    
        <div class="field">
          <%= f.file_field :image,  class:"form-control"%>
      </div>
  

      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>