<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control", placeholder:"What are you looking for?", required: "true" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description , class:"form-control", placeholder:"Give more details about what you need (e.g. numbers, specifications, circumstances ) ", required: "true"%>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    
    <%= f.date_field :deadline, class:"form-control", required: "true" %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, ['Food', 'Venue', 'Decorations', 'Entertainment', 'Catering', 'Clothing', 'Other' ] , :prompt => 'Select a category', class:"form-control", required: "true" %>
  </div>
  <div class="form-group ">
    <%= f.submit "Add Request", class:"btn btn-primary" %>
  </div>
<% end %>
