
   
   
     <div id="bid">
      <% @bids.each do |bid| %>
       <% if @event.lowbid > bid.price %>
          <% @event.lowbid = bid.price %>
         
       <% end %>
      <% end %>
    </div>
 
    <div class="col-md-6 col-sm-6 col-md-offset-3">
                  <div class="single-profile-bottom wow " data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="media text-center">
                      <% if @event.category == "Venue" %>  
                        <i class="fa fa-building fa-2x"></i>
                      <% elsif @event.category == "Food" %>
                        <i class="fa fa-birthday-cake fa-2x"></i>
                      <%  elsif @event.category == "Decorations"  %>
                        <i class="fa fa-gift fa-2x"></i>
                      <%  elsif @event.category == "Entertainment"  %>
                        <i class="fa fa-camera fa-2x"></i>
                      <%  elsif @event.category == "Catering"  %>
                        <i class="fa fa-glass fa-2x"></i>
                      <% elsif @event.category == "Clothing"  %>
                      <i class="fa fa-briefcase fa-2x"></i>
                      <%  elsif @event.category == "Other"  %>
                      <i class="fa fa-star fa-2x"></i>
                     <% end %>
                        
                      <h4>Bid for <%= link_to @event.user.name, @event.user %>'s request</h4>
                        <h4><%=  @event.name.upcase %></h4>
                      <% if @event.bids.count==0 %>
                        <h5> No Bids Yet </h5>
                      <%else %>
                      <h5><%= @event.bids.count %> bids</h5>
                      <% end %>
                      <p><%= @event.description %></p>
                      <h5>Due: <%= @event.deadline %></h5>
                       <% if @event.user != current_user %>
                      <%= link_to 'Bid me', new_event_bid_path(@event), class:"btn btn-primary" %>
                        <% end %> 
    
                     </div>
                </div>
                    <% @bids.each do |bid| %>
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          A bid was made for $<%= bid.price%>
                        </div>
                        <div class="panel-footer">
                          By<% if user_signed_in? && @event.user_id == current_user.id %> 
                            <%= User.find_by(id: bid.bidder_id).name %>
                          <% else %> 
                            Someone 
                          <% end %>
                          on <%= bid.created_at.strftime("%b/%d/%Y") %> at   <%= bid.created_at.strftime("%I:%M%p") %> 
                       </div> 
                  </div> 
            <% end %>
                      
      <%=link_to "Back", events_path, class:"btn btn-default" %>
            </div>  
